<ion-view view-title="StatusBar">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Hide/Show the StatusBar</div>
      <div class="item item-body">
        <div>
          <button class="button button-positive" ng-click="toggleStatusbar()">Toggle StatusBar</button>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Turn StatusBar overlay off</div>
      <div class="item item-body">
        <div>
            <button class="button button-positive" ng-click="setStatusbarOverlayOff()">Set Overlay Off</button>
        </div>
      </div>
    </div>
    <div class="list card">
        <div class="item item-divider">Turn StatusBar overlay on</div>
        <div class="item item-body">
            <div>
                <button class="button button-positive" ng-click="setStatusbarOverlayOn()">Set Overlay On</button>
            </div>
        </div>

    </div>
  </ion-content>
</ion-view>
